.header {
    padding: 10px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 10px;
}


/* Page Content */
.content {padding:20px;}


body {
    font-family: 'Nunito';
}
  